div#container{
	width: 600px;
	margin: 0px auto;
}
h1#bree{
	font-size: 30px;
	font-family: sans-serif;
	color: blue;
	text-align: center;
}
img.pet{
	width: 500px;
	height: 300px;
	margin: 0px auto;
}
span.name{
	color: green;
	font-style: italic;
	font-size: 25px;
	
}
ol{
	margin: 10px;
	list-style: circle;
	font-family: sans-serif;

}
h2{
	font-size: 20px;
	color: blue;
	font-weight: 200;

}
ul{
	list-style: decimal;
}
